<htm>
  <head>
      <title>main</title>
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
  </head>
<body>
  <div class="wrapper">
      <form action="" method="post">
          {{form.as_p}}
          <button type="submit" class="btn">Login</button>
          <div class="register-link">
              <p>Don't have an account? <a href="signup.html">Register</a></p>
          </div>
      </form>
  </div>
  <!-- <form action="action_page.php" method="post"> 
      <div class="imgcontainer">
        <img src="#" alt="Avatar" class="avatar">
      </div>
    
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required>
    
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    
        <button type="submit">Login</button>
        <label>
          <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
      </div>
    
      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>-->
</body>
</html>

  
